{% extends 'shared/base.html' %}
{% load custom_filters %}

{% block title %}
	Showing project {{project}}
{% endblock %}

{% block content %}

	{% if error_message %}
    	<p>{{ error_message }}</p>
	{% else %}

		<h4><li><i class="icon-folder-open"></i> {{ project }}</li></h4>
		<div id="project_area">

			<p><strong>Description:<br/></strong>{{ project.description }}</p>

			<p><strong>Start date:<br/></strong>{{ project.start_date|date:"Y-m-d" }}</p>

			<p><strong>End date:<br/></strong>{{ project.end_date|date:"Y-m-d" }}</p>

			<p><strong>Project admin:<br/></strong>{{ project.added_by_user }}</p>

			<p><strong>Project members:</strong>
			{% for member in project.users.all %}
				{{ member.get_full_name }}<br />
			{% endfor %}
			</p>

			<p><strong>Tickets:</strong></p>
			{% for ticket in tickets %}
				<i class="icon-tag"></i>
				<a href="{% url show_ticket project.id ticket.id %}">{{ ticket }}</a> ({{ ticket.status }})
				<br/>
			{% endfor %}<br/>
			<p><a class="btn btn btn-info" href="{% url ticket_add project.id %}">Add ticket</a></p>
			<br/>
			{% if project|ownership:user %}
				<p>
					<a class="btn" href="{% url project_edit project.id %}">Edit</a>
					<a class="btn btn-danger" id="delete_link" href="{% url project_delete project.id %}">Delete</a>
				</p>
			{% endif %}
		</div>
		
	{% endif %}

{% endblock %}