{% extends 'shared/base.html' %}
{% load custom_filters %}

{% block title %}
	Showing project {{project}}
{% endblock %}

{% block content %}
	<h4> {{ ticket }} ({{ project }})</h4>
	<div id="project_area">

		<p><strong>Description:<br/></strong>{{ ticket.description }}</p>

		<p><strong>Start date:<br/></strong>{{ ticket.start_date }}</p>

		<p><strong>End date:<br/></strong>{{ ticket.end_date }}</p>

		<p><strong>Project admin:<br/></strong>{{ ticket.added_by_user }}</p>

		<p><strong>Status:<br/></strong>{{ ticket.status }}</p>
		{% if ticket|ticket_owner:user or project|admin:user %}
			<p>
				<a class="btn" href="{% url ticket_edit project.id %}">Edit</a>
				<a class="btn" id="delete_link" href="{% url ticket_delete ticket.id %}">Delete</a>
			</p>
		{% endif %}

	</div>

{% endblock %}