body {
	background-color: #97C2D1 !important;
}

ul, li {
    list-style-type: none;
}

#front-img {
	position: relative;
	top: 232px;
	left: -145px;
}

.link {
	position: relative;
	left: 100px;
	top: -20px;
}

.users_project {
	width: 80px;
	text-align: center;
}

#welcome-text {
	font-size: 24px;
	position: relative;
	top: -70px;
	left: 50px;
}

.account_dropdown {
	padding: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 14px;
  	width: 10px !important;
}

.container > .content {
	width: 95%;
	float: left;
	min-height: 500px;
	background-color: #eee;
	padding: 30px;
	-webkit-border-radius: 10px 10px 10px 10px;
	   -moz-border-radius: 10px 10px 10px 10px;
	        border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.helptext {
	display: none;
}

#users-stuff {
	margin-left: 160px;
}

.errorlist {
	color: red;
	width: 200px;
	position: relative;
	left: -25px;
}

#id_description {
	width: 400px;
}

#project_area {
	border-radius: 5px;
	background: #ddd;
	width: 92%;
	min-height: 390px;
	margin-top: 30px;
	padding: 25px 25px 25px 25px;
	position: relative;
}

#user_info {
	float: right;
	font-size: 13px;
}

.login_container {
	background-color: #eee;
	margin-top: 140px;
	width: 292px;
	height: 260px;
	border-radius: 15px;
}

.login_container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.login_container:before,
.login_container:after {
  display: table;
  line-height: 0;
  content: "";
}

.login_container:after {
  clear: both;
}

#login_div {
	margin: 0px auto;
	margin-left: 55px;
}

#filter_div {
	position: relative;
	top: -35px;
	left: 255px;
}
