{% extends 'shared/base.html' %}
{% load custom_filters %}

{% block title %}
	Showing project {{project}}
{% endblock %}

{% block content %}
	<h1>{{ project}}</h1>
	<div id="project_area">

		<p><strong>Description:<br/></strong>{{ project.description }}</p>

		<p><strong>Start date:<br/></strong>{{ project.start_date }}</p>

		<p><strong>End date:<br/></strong>{{ project.end_date }}</p>

		<p><strong>Project admin:<br/></strong>{{ project.added_by_user }}</p>

		<p><strong>Project members:</strong></p>
		{% for member in project.users.all %}
			{{ member.get_full_name }}<br />
		{% endfor %}

		<p><strong>Tickets:</strong></p>
		{% for ticket in tickets %}
			<i class="icon-tag"></i> {{ ticket }} ({{ ticket.status }})
			<button class="btn"><a href="{% url show_ticket project.id ticket.id %}">Open</a></button>
			<br/>
		{% endfor %}

		{% if project|ownership:user %}
			<p>
				<button class="btn"><a href="{% url project_edit project.id %}">Edit</a></button>
				<button class="btn"><a id="delete_link" href="{% url project_delete project.id %}">Delete</a></button>
			</p>
		{% endif %}
	</div>

{% endblock %}