<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
        AMPTA - the Django version
      {% endblock %}
    </title>
    {% block stylesheet %}
          <link rel="stylesheet" type="text/css" href="global.css" />
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/global.css" rel="stylesheet">
    <link href="/static/css/ui/jquery-ui-1.10.1.custom.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <!-- Your site name for the upper left corner of the site -->

          <!-- Start of the nav bar content -->
          <div class="nav-collapse"><!-- Other nav bar content -->
            <ul class="nav">
              <a class="brand">AMPTA</a>
              <li id="home" class="menu_option active"><a href="{% url home %}">Home</a></li>
              <li id="projects" class="menu_option"><a href="{% url project_list %}">Projects</a></li>
              <li id="new_project" class="menu_option"><a href="{% url project_add %}">New project</a></li>
            </ul>

            {% if user.is_authenticated %}
            <!-- The drop down menu -->
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <li class="dropdown">
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown">Signed in as: <strong> {{ user }} </strong><strong class="caret"></strong></a>
                  <div class="dropdown-menu account_dropdown">
                    <a href="{% url project_manage %}">Manage projects</a><br/>
                    <a href="{% url users_tickets %}">Manage tickets</a><br/>
                    <a href="{% url logout %}">Logout</a>
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown"><strong class="caret"></strong></a>
                  <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                </div>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
              {% block content %}
                  <h1>Add your content!</h1>
              {% endblock %}
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <script type="text/javascript" src="/static/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.10.1.custom.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validation.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/external.js"></script>
  </body>
</html>